{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block page_title %}Home{% endblock %}

{% block content %}
    <div class="row">
        {% for announcement in announcements %}
            {% include 'partials/_post.html.twig' %}
        {% endfor %}
    </div>
{% endblock %}