<div class="mb-4 col-md-4 col-sm-6">
    <div class="card shadow-sm">
        <img src="{{ announcement.image }}" class="card-img-top" alt="{{ announcement.title }}">
        <div class="card-body">
            <h5 class="card-title">{{ announcement.title }}</h5>
            <p class="card-text">{{ announcement.description }}</p>
            <a href="#" class="btn btn-primary">Read more</a>
        </div>
    </div>
</div>